.odd {
    background-color: #ffb6c1;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: blue;
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
}

#fourth {
    background-color: rgb(112, 221, 112);
    font-weight: bold;
}